* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: black;
}

nav {
  white-space: nowrap;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 4px;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  color: white;
  font-weight: 500;
  align-items: center;
}

.first-menu {
  display: none;
  cursor: pointer;
}

#menu,
#all,
#sin,
#pro,
#wlist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px 0 16px;
  cursor: pointer;
  height: 32px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

#imdb {
  margin-left: 10px;
  height: 32px;
  width: 64px;
  cursor: pointer;
}

#menu {
  width: 5rem;
  margin: 0;
  margin-left: 10px;
  font-size: 14.5px;
}

#mimg {
  width: 18.7px;
  margin-right: 5px;
}

/* ----------------------------scarch---------------------------- */

#scarch {
  display: flex;
  align-items: center;
  width: 782.562px;
  margin-left: 10px;
}

#all {
  width: fit-content;
  padding: 0 7px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px 0 0 5px;
}

#triangle {
  height: 5px;
  margin-left: 3px;
}

#all-list {
  display: none;
  position: absolute;
  color: white;
  list-style: none;
  margin-top: 402px;
  width: 222px;
  background-color: rgb(37, 37, 37);
  border-top: 10px solid rgb(37, 37, 37);
  border-bottom: 10px solid rgb(37, 37, 37);
  cursor: pointer;
}

li {
  display: flex;
  text-align: center;
  height: 50px;
  align-items: center;
}

li:nth-child(7) {
  border-top: 0.5px solid white;
}

#list-img {
  width: 21px;
  padding: 10px;
}

.right-arrow {
  width: 21px;
  padding-left: 35px;
}

input {
  display: flex;
  height: 32px;

  width: 100%;
  border: 0;
  padding: 6.25px 0 6px 8px;
  border-left: 1px solid black;
  outline: none;
}

#search-button {
  height: 32px;
  width: 40px;
  border: none;
  padding-right: 11px;
  border-radius: 0 5px 5px 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}

/* after search */

#pro {
  width: 5rem;
  align-items: center;
  margin: 0 0 0 10px;
  padding: 0 8px 0 16px;
}

#vline {
  background-color: rgb(90, 90, 90);
  height: 32px;
  width: 2px;
  margin: 0 8px 0 8px;
}

#wl-img {
  border-radius: 2px;
  margin-right: 7px;
}

#sin {
  margin-right: 10px;
}

/* ----------------------------active's and hover's----------------------------- */

#menu:active,
#imdb:active,
#pro:active,
#wlist:active,
#sin:active {
  border: 1px dashed white;
}

#menu:hover,
#pro:hover,
#wlist:hover,
#sin:hover {
  background-color: rgb(59, 59, 59);
}

li:active {
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}

li:hover {
  background-color: rgb(66, 66, 66);
}

li > img:hover {
  filter: brightness(3);
}

#ls-adv:hover {
  text-decoration: underline;
}

#all:hover {
  background-color: rgb(221, 221, 221);
}

.main span {
  color: yellow;
  padding-right: 10px;
}
.main h3 {
  margin: 20px 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 22px;
  color: white;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card img {
  height: 80%;
  width: auto;
  max-width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.36s;
  margin: 20px 30px;
  width: 250px;
  height: 500px;
  line-height: 50%;
  cursor: pointer;
  text-align: center;
}

.card :hover {
  box-shadow: 0 8px 16px 0 #383838;
}

.container {
  background-color: #383838;
  height: 65px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container p {
  padding: 10px;
  font-weight: 600;
  color: #ffd700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #ffd700;
  padding-left: 30px;
}
.shows {
  position: relative;
  z-index: 1;
}

.desniMainDiv {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;
}
.desniMainDiv input {
  width: 100%;
  height: 100%;
}
#gumb {
  border-radius: 0 5px 5px 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 7px;
  border-radius: 50%;
}

.socials a i {
  font-size: 25px;
  width: 25px;
  transition: color 0.4s ease;
}

.face a:hover i {
  color: blue;
}

.tw a:hover i {
  color: rgb(55, 158, 192);
}
.insta a:hover i {
  color: rgb(231, 64, 86);
}

.yt a:hover i {
  color: red;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  color: #cfd2d6;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #ffd700;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #ffd700;
}

@media only screen and (max-width: 1300px) {
  #scarch {
    width: 500px;
  }
}

@media screen and (max-width: 1000px) {
  #scarch {
    width: 700px;
  }
  #pro,
  #wlist,
  #menu {
    display: none;
  }
  #vline {
    margin: 0 8px 0 20px;
  }
  #sin {
    margin-right: 10px;
  }
  #imdb {
    padding: 0 5px;
  }
  .first-menu {
    display: flex;
    position: 0 10px 0 8px;
  }
  @media only screen and (max-width: 500px) {
    input,
    #all,
    #vline,
    #all-list {
      display: none;
    }
    #scarch {
      justify-content: flex-end;
    }
    button {
      background: none;
      color: white;
      filter: brightness(2.5);
      border-radius: 50%;
    }
    button:hover {
      background: rgb(24, 24, 24);
    }
  }
}

@media screen and (max-device-width: 480px) {
  .card {
    height: unset;
    width: unset;
  }
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
